@use '../vars';

.appointment-services {
    display: grid;
    gap: 16px;

    &__title {
        @include vars.text(title-2, 600);

        margin: 0;
    }

    &__list {
        display: grid;
        gap: 16px;
    }

    &__service {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        gap: 8px;
        align-items: start;
    }

    &__service-main {
        display: grid;
        gap: 4px;
        min-width: 0;
    }

    &__service-title,
    &__service-price {
        @include vars.text(default, 600);
    }

    &__service-price {
        white-space: nowrap;
    }

    &__service-duration {
        @include vars.text(appointment, 400);

        color: vars.color(text-secondary);
    }
}
