@use '../vars';

.rating-stars {
    display: inline-flex;
    gap: 2px;
    align-items: center;

    &__icon {
        display: block;
        width: 24px;
        height: 24px;
        color: vars.color(bg-light-3);

        &_filled {
            color: vars.color(warning);
        }
    }
}
