@use '../vars';

.select-field {
    display: grid;
    gap: 4px;
    width: 100%;
    color: vars.color(text-primary);

    &__label {
        @include vars.text(input, 400);

        color: vars.color(text-secondary);
    }

    &_selected {
        .select-field__value {
            color: vars.color(text-primary);
        }
    }

    &__control {
        @include vars.text(default, 400);

        display: grid;
        grid-template-columns: minmax(0, 1fr) 16px;
        gap: 12px;
        align-items: center;
        width: 100%;
        min-height: 44px;
        padding: 0 16px;
        border: 1px solid vars.color(accent-selected);
        border-radius: 8px;
        color: vars.color(text-primary);
        text-align: left;
        background-color: vars.color(bg-primary);
        cursor: pointer;
    }

    &__value {
        overflow: hidden;
        color: vars.color(text-third);
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__icon {
        width: 16px;
        height: 16px;
        color: vars.color(text-primary);
    }
}
