@use '../vars';

.example-section {
    padding: 40px;
}

.example-section__title {
    @include vars.text(default, 600);

    margin: 0 0 24px;
}

.example-section__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(298px, max-content));
    gap: 24px;
    align-items: start;
}

.example-section__grid--operation {
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
}

.example-section__item {
    display: grid;
    gap: 12px;
    justify-items: start;
}

.example-section__label {
    @include vars.text(default, 500);

    margin: 0;
    color: vars.color(text-secondary);
}

.example-section__tabs {
    display: grid;
    width: min(100%, 720px);
    gap: 48px;
}

.example-section__tabs-example {
    width: min(100%, 720px);
    margin-top: 40px;
}

.example-section__chips {
    width: min(100%, 480px);
}

.example-section__chips-example {
    width: min(100%, 428px);
    margin-top: 40px;
}

.example-section__checkboxes {
    display: flex;
    gap: 48px;
    align-items: center;
}

.example-section__checkbox-list {
    display: grid;
    width: min(100%, 420px);
    gap: 40px;
    margin-top: 40px;
}

.example-section__review {
    width: min(100%, 560px);
}

.example-section__banner {
    width: min(100%, 620px);
}

.example-section__banners {
    width: min(100%, 428px);
    margin-top: 40px;
}

.example-section__service {
    display: grid;
    width: min(100%, 720px);
    gap: 56px;
}

.example-section__inputs {
    display: grid;
    width: min(100%, 640px);
    gap: 24px;
}
