@use '../vars';

.login-page {
    &__header-card,
    &__card {
        display: flex;
        flex-direction: column;
        background-color: vars.color(bg-primary);
    }

    &__header-card {
        border-radius: 0 0 16px 16px;
    }

    &__topbar {
        padding: 8px 8px 8px 0;
    }

    &__title {
        @include vars.text(title, 600);

        margin: 12px 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px 32px;
        border-radius: 16px;
    }

    &__language {
        @include vars.text(default, 400);

        display: grid;
        grid-template-columns: 24px minmax(0, 1fr) 24px;
        gap: 8px;
        align-items: center;
        min-height: 40px;
        color: vars.color(text-primary);
        text-decoration: none;
    }

    &__language-icon {
        width: 24px;
        height: 24px;
    }

    &__language-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__language-arrow {
        width: 24px;
        height: 24px;
        color: vars.color(text-secondary);
    }

    &__footer {
        padding: 32px 16px 0;
    }
}
