@use '../vars';

.specialist-selected-edit-page {
    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 10;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: vars.color(bg-sheet);
    }

    &__sheet {
        width: 100%;
    }
}
