@use '../vars';

.specialist {
    &__shell {
        overflow: hidden;
        background-color: vars.color(bg-primary);
    }

    &__picker {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 100%;
        color: vars.color(text-primary);

        .calendar__title {
            @include vars.text(title-2, 400);
        }

        .calendar__nav {
            gap: 24px;
        }

        .calendar__week {
            padding: 0;
        }

        .calendar__days {
            row-gap: 8px;
        }
    }

    &__picker-topbar {
        padding: 8px 8px 8px 0;
    }

    &__picker-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 26px;
        padding: 8px 16px 24px;
    }

    &__picker-calendar {
        gap: 16px;
    }

    &__footer {
        padding: 0 16px 24px;
    }

    &__summary {
        position: fixed;
        right: 50%;
        bottom: 0;
        z-index: 1;
        transform: translateX(50%);
    }

    &_day {
        .specialist__shell {
            display: flex;
            flex-direction: column;
        }
    }

    &_day-selected {
        .specialist__shell {
            position: relative;
            padding-bottom: 140px;
        }

        .specialist__summary {
            width: min(100%, 360px);
        }
    }
}
