@use '../vars';

.specialist-selected-page {
    &__content {
        padding-bottom: 160px;
    }

    &__summary {
        position: fixed;
        right: 50%;
        bottom: 0;
        z-index: 1;
        width: 100%;
        transform: translateX(50%);
    }
}
