@use '../vars';

.success {
    &_canceled {
        .success__date,
        .success__time {
            color: vars.color(text-third);
        }
    }

    &__shell {
        background-color: vars.color(bg-primary);
    }

    &__topbar {
        padding: 8px 8px 8px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 8px 16px 0;
    }

    &__banners {
        width: 100vw;
        padding: 0 16px;
        margin-left: -16px;
    }

    &__banner {
        width: calc(100% - 48px);
    }

    &__status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    &__section,
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__datetime {
        display: grid;
        gap: 2px;
    }

    &__date,
    &__section-title {
        @include vars.text(title-2, 600);

        margin: 0;
    }

    &__time {
        @include vars.text(default, 400);
    }

    &__actions {
        justify-content: flex-start;
    }

    &__footer {
        padding: 32px 16px 28px;
    }
}
