@use 'reset';
@use 'fonts';
@use 'vars';

@use './components/button';
@use './components/appointment-status';
@use './components/appointment-details';
@use './components/booking-edit-sheet';
@use './components/booking-summary';
@use './components/chips';
@use './components/checkbox';
@use './components/calendar-day';
@use './components/calendar';
@use './components/dropdown-list-item';
@use './components/item-appointment';
@use './components/item-balance-card';
@use './components/item-tab';
@use './components/item-review';
@use './components/item-banner';
@use './components/item-service';
@use './components/item-user';
@use './components/info-row';
@use './components/photo-slider';
@use './components/powered-by';
@use './components/rating-stars';
@use './components/review-rating-card';
@use './components/service-section';
@use './components/select-field';
@use './components/specialist-card';
@use './components/specialist-header';
@use './components/specialist-topbar';
@use './components/time-slots';
@use './components/input';
@use './components/textarea';
@use './templates/widget-screen';
@use './templates/bottom-sheet';
@use './templates/select-sheet';
@use './pages/example';
@use './pages/contacts';
@use './pages/info';
@use './pages/index';
@use './pages/specialist';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    @include vars.text(default, 400);

    overflow-x: hidden;
    font-family: vars.$main-font;
    color: vars.color(text-primary);
    background-color: vars.color(bg-secondary);
}

a {
    text-decoration: none;
}

.main {
    min-height: 100dvh;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
