@use 'reset';
@use 'fonts';
@use 'vars';

@use './components/button';
@use './components/chips';
@use './components/item-tab';
@use './templates/widget-screen';
@use './templates/bottom-sheet';
@use './templates/select-sheet';
@use './pages/example';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    @include vars.text(default, 400);

    overflow-x: hidden;
    font-family: vars.$main-font;
    color: vars.color(text-primary);
    background-color: vars.color(bg-primary);
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
