@use '../vars';

.widget-overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: grid;
    align-items: end;
}

.widget-overlay__backdrop {
    position: absolute;
    inset: 0;
    background-color: vars.color(bg-sheet);
}

.bottom-sheet {
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: calc(100dvh - 48px);
    margin: 0 auto;
    padding: 48px 16px 32px;
    overflow-y: auto;
    color: vars.color(text-primary);
    background-color: vars.color(bg-primary);
    border-radius: 16px 16px 0 0;
}

.bottom-sheet__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    color: vars.color(text-primary);
    background-color: transparent;
    cursor: pointer;
}

.bottom-sheet__close-icon-wrapper {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: vars.color(bg-light-1);
}

.bottom-sheet__close-icon {
    width: 16px;
    height: 16px;
}

.bottom-sheet__title {
    @include vars.text(default, 700);

    margin: 8px 0;
}

.bottom-sheet__content {
    display: grid;
    gap: 16px;
}

.bottom-sheet__footer {
    display: grid;
    gap: 8px;
    margin-top: 24px;
}
